.container {
  width: 1280px;
  height: 1715px;
  margin: 0 auto;
  background-color: #ffffff;
}

.container-catalog {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: 85px 0;
  padding-top: 170px;
}
